<md-nav-list>
  <h3 md-subheader>全部单</h3>
  <md-list-item>
    <md-icon mdListIcon svgIcon="project"></md-icon>
    <span md-line>查看全部单</span>
    <span md-line md-subheader>查看所有的单</span>
  </md-list-item>
  <h3 md-subheader>日历</h3>
  <md-list-item>
    <md-icon mdListIcon svgIcon="month"></md-icon>
    <span md-line>月视图</span>
    <span md-line md-subheader>按月查看所有单</span>
  </md-list-item>
  <md-list-item>
    <md-icon mdListIcon svgIcon="year"></md-icon>
    <span md-line>年视图</span>
    <span md-line md-subheader>按年查看所有单</span>
  </md-list-item>
</md-nav-list>
